body{
    padding: 100px;
}
.submit-area{
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    margin-top: 100px;

}
#trasition_area{
    display: none;
}
.deposit{
    color: wheat;
    margin: 0px 20px;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}
.withdow{
    background-color: lightcoral;
    color: wheat;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 10px;
}
.balance{
    background-color: brown;
    color: wheat;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 10px;

}